body {
    background-image: url("../images/x-wing-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.game-area{
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
}

.characters-container{
    margin-bottom: 15px;
}

.section-header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.character{
    border: 2px solid green;
    border-radius: 6px;
    padding: 5px;
    display: inline-block;
    margin: 0 15px;
    background-color: white;
}

#defender .character{
    background-color: black;
    color: white;
}

.enemy{
    background-color: red;
    border-color: black;
}

.character-section{
    margin-top: 10px;
}

.command-section{
    margin-top: 10px;
}

#game-messages{
    margin-top: 10px;
}

.character-name{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.character-health{
    font-size: 14px;
    margin-top: 5px;
}

.character-image{
    width: 175px;
    height: 150px;
}

.b-r{
    border-right: 1px solid black;
}